
<div class="hero-section row">
    <div class="hero-section-main col-auto col-md-5">
        <h1 class="hero-section-main-title">Study,Learn,Create </h1>
        <h4 class="hero-section-main-subtitle">We are a group of students that strives to learn and excel.</h4>
        <a class="btn cta" asp-area="" asp-controller="Members" asp-action="Upsert">Join Us!</a>
    </div>
    <div class="hero-section-image col-7">
         <svg
            class="hero-section-showcase" viewBox="0 0 297 210"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            version="1.1"
            id="svg8"
            inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
            sodipodi:docname="hero-section.svg">
         <defs
            id="defs2">
            <inkscape:perspective
               sodipodi:type="inkscape:persp3d"
               inkscape:vp_x="0 : 105 : 1"
               inkscape:vp_y="0 : 1000 : 0"
               inkscape:vp_z="297 : 105 : 1"
               inkscape:persp3d-origin="148.5 : 70 : 1"
               id="perspective1019" />
            <inkscape:path-effect
               effect="bspline"
               id="path-effect1688"
               is_visible="true"
               lpeversion="1"
               weight="33.333333"
               steps="2"
               helper_size="0"
               apply_no_weight="true"
               apply_with_weight="true"
               only_selected="false" />
            <inkscape:path-effect
               effect="bspline"
               id="path-effect1512"
               is_visible="true"
               lpeversion="1"
               weight="33.333333"
               steps="2"
               helper_size="0"
               apply_no_weight="true"
               apply_with_weight="true"
               only_selected="false" />
         </defs>
         <sodipodi:namedview
            id="base"
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1.0"
            inkscape:pageopacity="0.0"
            inkscape:pageshadow="2"
            inkscape:zoom="0.64141414"
            inkscape:cx="561.25984"
            inkscape:cy="396.85039"
            inkscape:document-units="mm"
            inkscape:current-layer="layer1"
            inkscape:document-rotation="0"
            showgrid="false"
            showguides="true"
            inkscape:window-width="1304"
            inkscape:window-height="745"
            inkscape:window-x="-8"
            inkscape:window-y="-8"
            inkscape:window-maximized="1"
            inkscape:snap-center="false" />
         <metadata
            id="metadata5">
            <rdf:RDF>
               <cc:Work
                  rdf:about="">
               <dc:format>image/svg+xml</dc:format>
               <dc:type
                  rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
               <dc:title />
               </cc:Work>
            </rdf:RDF>
         </metadata>
         <g
            inkscape:label="Layer 1"
            inkscape:groupmode="layer"
            id="layer1">
            <g
               id="g1284">
               <g
                  id="g3171-0"
                  style="fill:#1a1a1a"
                  transform="translate(3.7033928,1.0605655)">
               <path
                  id="path3149-5"
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  d="M 70.53747,35.800179 A 50,50 0 0 0 20.537423,85.800226 50,50 0 0 0 70.53747,135.79976 50,50 0 0 0 120.53752,85.800226 50,50 0 0 0 70.53747,35.800179 Z m 0,9.999906 A 39.999999,39.999999 0 0 1 110.53761,85.800226 39.999999,39.999999 0 0 1 70.53747,125.79985 39.999999,39.999999 0 0 1 30.537329,85.800226 39.999999,39.999999 0 0 1 70.53747,45.800085 Z" />
               <path
                  id="path3114-6"
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:1.00157;stroke-opacity:0"
                  d="M 283.1582,215.53516 A 113.38583,113.38583 0 0 0 169.77148,328.92188 113.38583,113.38583 0 0 0 283.1582,442.30664 113.38583,113.38583 0 0 0 396.54492,328.92188 113.38583,113.38583 0 0 0 283.1582,215.53516 Z m 0,37.79492 a 75.590551,75.590551 0 0 1 75.58985,75.5918 75.590551,75.590551 0 0 1 -75.58985,75.58984 75.590551,75.590551 0 0 1 -75.58984,-75.58984 75.590551,75.590551 0 0 1 75.58984,-75.5918 z"
                  transform="scale(0.26458333)" />
               </g>
               <g
                  id="g3171">
               <path
                  id="path3149"
                  style="fill:#2c89a0;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  d="M 70.53747,35.800179 A 50,50 0 0 0 20.537423,85.800226 50,50 0 0 0 70.53747,135.79976 50,50 0 0 0 120.53752,85.800226 50,50 0 0 0 70.53747,35.800179 Z m 0,9.999906 A 39.999999,39.999999 0 0 1 110.53761,85.800226 39.999999,39.999999 0 0 1 70.53747,125.79985 39.999999,39.999999 0 0 1 30.537329,85.800226 39.999999,39.999999 0 0 1 70.53747,45.800085 Z" />
               <path
                  id="path3114"
                  style="fill:#e3dbe2;fill-opacity:1;stroke-width:1.00157;stroke-opacity:0"
                  d="M 283.1582 215.53516 A 113.38583 113.38583 0 0 0 169.77148 328.92188 A 113.38583 113.38583 0 0 0 283.1582 442.30664 A 113.38583 113.38583 0 0 0 396.54492 328.92188 A 113.38583 113.38583 0 0 0 283.1582 215.53516 z M 283.1582 253.33008 A 75.590551 75.590551 0 0 1 358.74805 328.92188 A 75.590551 75.590551 0 0 1 283.1582 404.51172 A 75.590551 75.590551 0 0 1 207.56836 328.92188 A 75.590551 75.590551 0 0 1 283.1582 253.33008 z "
                  transform="scale(0.26458333)" />
               </g>
               <g
                  id="g2968-7-0"
                  transform="rotate(74.9333,75.413961,222.07251)"
                  style="fill:#1a1a1a">
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-19-5-2"
                  cx="96.020096"
                  cy="67.012619"
                  transform="rotate(15.651944)"
                  r="1.9999999" />
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-28-0"
                  cx="42.302433"
                  cy="91.346817"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-3-3-6"
                  cx="31.898237"
                  cy="92.472717"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-2-1-6"
                  cx="22.036009"
                  cy="94.958084"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-4-8-6"
                  cx="12.77239"
                  cy="102.55502"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-26-5-0"
                  cx="7.7553082"
                  cy="113.40787"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-1-8-3"
                  cx="85.518196"
                  cy="65.231491"
                  transform="rotate(15.651944)"
                  r="1.9999999" />
               </g>
               <g
                  id="g2968-6"
                  transform="rotate(74.9333,75.67882,221.21264)">
               <circle
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-19-4"
                  cx="96.020096"
                  cy="67.012619"
                  transform="rotate(15.651944)"
                  r="1.9999999" />
               <circle
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-42"
                  cx="42.302433"
                  cy="91.346817"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-3-1"
                  cx="31.898237"
                  cy="92.472717"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-2-8"
                  cx="22.036009"
                  cy="94.958084"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-4-7"
                  cx="12.77239"
                  cy="102.55502"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#2c89a0;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-26-55"
                  cx="7.7553082"
                  cy="113.40787"
                  transform="rotate(-7.705785)"
                  r="1.9999999" />
               <circle
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2678-1-5-1-7"
                  cx="85.518196"
                  cy="65.231491"
                  transform="rotate(15.651944)"
                  r="1.9999999" />
               </g>
               <g
                  id="g2935-7"
                  transform="translate(0.79946892,1.1696765)"
                  style="fill:#1a1a1a">
               <path
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2903-8"
                  d="m 245.026,30.896585 c -0.17291,2.340369 -0.83191,4.615122 -1.46485,6.864262 -0.34314,1.209559 -0.76272,2.393872 -1.20212,3.570891 0,0 3.17996,-0.403338 3.17996,-0.403338 v 0 c 0.38904,-1.187051 0.76498,-2.378234 1.11033,-3.578892 0.64681,-2.294059 1.31805,-4.593899 1.65419,-6.958809 0,0 -3.27751,0.505891 -3.27751,0.505891 z" />
               <path
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2903-0-8"
                  d="m 256.10777,36.884001 c -1.42776,1.862451 -3.22606,3.403525 -4.98852,4.937467 -0.95013,0.823425 -1.95035,1.583827 -2.96314,2.327262 0,0 2.88055,1.406163 2.88055,1.406163 v 0 c 0.97617,-0.779442 1.94367,-1.56951 2.89076,-2.384285 1.79869,-1.563898 3.62098,-3.119242 5.19869,-4.912733 0,0 -3.01834,-1.37387 -3.01834,-1.37387 z" />
               <path
                  style="fill:#1a1a1a;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2903-9-1"
                  d="m 262.73484,48.746641 c -2.29474,0.491328 -4.66302,0.497702 -6.99939,0.521893 -1.25725,0.01037 -2.51173,-0.05972 -3.76479,-0.150875 0,0 1.28018,2.938703 1.28018,2.938703 v 0 c 1.24854,0.04001 2.49736,0.06628 3.74669,0.06053 2.38338,-0.02349 4.77917,-0.02517 7.14331,-0.366726 0,0 -1.406,-3.003525 -1.406,-3.003525 z" />
               </g>
               <g
                  id="g1315-3"
                  transform="translate(-9.3107638,-20.901206)"
                  style="fill:#1a1a1a">
               <g
                  id="g1265-3-0"
                  transform="matrix(-1.2581921,0.32120856,-0.33849415,-1.1384805,291.82128,184.7142)"
                  style="fill:#1a1a1a;stroke-width:0.805521">
                  <path
                     style="fill:#1a1a1a;stroke-width:0.213462;stroke-opacity:0"
                     id="path1214-7-4"
                     d="m 35.076048,22.500877 c -7.828955,0.0577 -4.07347,-0.12425 -2.407865,0.133351 0.34108,0.05275 0.680543,0.118644 1.015714,0.200977 1.042414,0.256064 1.170967,0.35026 2.177582,0.755606 2.217407,0.957041 3.83622,2.40761 5.214689,4.378557 0.28644,0.409554 0.535699,0.843894 0.80355,1.265841 1.770047,2.960682 2.488091,6.338197 3.196653,9.669687 0.605446,3.231806 1.270543,6.450494 2.001108,9.656152 0.57409,2.744647 1.491945,5.463394 3.266789,7.68324 0.360796,0.451258 0.7845,0.8484 1.17675,1.272601 1.531305,1.480309 3.381515,2.490229 5.395804,3.145245 0.375034,0.121954 0.759846,0.211476 1.139769,0.317214 0,0 4.405686,-0.585909 4.405686,-0.585909 v 0 c -0.396068,-0.0913 -0.79687,-0.164076 -1.188207,-0.273905 -2.018834,-0.566597 -3.888443,-1.50346 -5.441127,-2.929477 -0.388818,-0.403323 -0.808164,-0.779296 -1.166458,-1.209966 -1.791523,-2.15343 -2.673307,-4.8216 -3.260473,-7.51609 -0.731034,-3.20502 -1.349875,-6.432844 -2.018478,-9.651185 -0.742214,-3.358205 -1.405289,-6.80856 -3.145038,-9.822185 -0.269028,-0.434351 -0.520483,-0.880092 -0.807082,-1.303054 -0.831303,-1.226828 -1.809266,-2.414941 -2.983982,-3.330969 -0.731618,-0.570506 -1.359405,-0.856025 -2.172345,-1.284367 -1.005642,-0.450997 -1.107927,-0.540064 -2.150703,-0.842526 -2.487343,-0.721463 -5.119343,-0.431786 -7.670744,-0.460322 0,0 4.618408,0.731484 4.618408,0.731484 z" />
                  <path
                     style="fill:#1a1a1a;stroke-width:0.213462;stroke-opacity:0"
                     id="path1214-6-3-5"
                     d="m 56.049115,47.359727 c -7.828956,0.0577 -4.073471,-0.12425 -2.407866,0.133351 0.34108,0.05275 0.680543,0.118644 1.015714,0.200977 1.042414,0.256064 1.170968,0.35026 2.177582,0.755606 2.217408,0.957041 3.83622,2.40761 5.214689,4.378557 0.28644,0.409554 0.535699,0.843894 0.80355,1.265841 1.770047,2.960682 2.488091,6.338197 3.196653,9.669687 0.605446,3.231806 1.270543,6.450494 2.001108,9.656152 0.57409,2.744647 1.491946,5.463394 3.266789,7.683241 0.360796,0.451257 0.7845,0.848399 1.176751,1.272601 1.531304,1.480309 3.381515,2.490229 5.395804,3.145244 0.375034,0.121955 0.759846,0.211477 1.13977,0.317215 0,0 4.405685,-0.585909 4.405685,-0.585909 v 0 c -0.396068,-0.0913 -0.796869,-0.164077 -1.188207,-0.273905 -2.018834,-0.566597 -3.888443,-1.50346 -5.441128,-2.929477 -0.388817,-0.403323 -0.808164,-0.779296 -1.166458,-1.209966 -1.791523,-2.153431 -2.673307,-4.8216 -3.260473,-7.516091 -0.731034,-3.20502 -1.349875,-6.432844 -2.018478,-9.651185 -0.742213,-3.358205 -1.405289,-6.80856 -3.145038,-9.822185 -0.269028,-0.434351 -0.520483,-0.880092 -0.807082,-1.303054 -0.831303,-1.226828 -1.809266,-2.414941 -2.983982,-3.330969 -0.731618,-0.570506 -1.359405,-0.856025 -2.172345,-1.284367 -1.005642,-0.450997 -1.107927,-0.540064 -2.150702,-0.842526 -2.487344,-0.721463 -5.119343,-0.431786 -7.670745,-0.460322 0,0 4.618409,0.731484 4.618409,0.731484 z" />
               </g>
               <path
                  style="fill:#1a1a1a;stroke-width:0.264999;stroke-opacity:0"
                  id="path1214-6-3-6-3"
                  d="m 279.42741,195.60266 c 9.83079,-2.58042 5.16726,-1.16698 2.98441,-0.92524 -0.44699,0.0495 -0.89641,0.0835 -1.34599,0.0974 -1.39823,0.0433 -1.59186,-0.0226 -2.99558,-0.16078 -3.11388,-0.37732 -5.64167,-1.50879 -8.0432,-3.3099 -0.49903,-0.37426 -0.95966,-0.78869 -1.4395,-1.18303 -3.22923,-2.80212 -5.27594,-6.41672 -7.29514,-9.98196 -1.85571,-3.48487 -3.78204,-6.93565 -5.78632,-10.35056 -1.65137,-2.94033 -3.72649,-5.74075 -6.71099,-7.6979 -0.60669,-0.39786 -1.27422,-0.7139 -1.91134,-1.07085 -2.42775,-1.19344 -5.09753,-1.74891 -7.85361,-1.84762 -0.51314,-0.0184 -1.02761,0.003 -1.54142,0.005 0,0 -5.34487,2.08219 -5.34487,2.08219 v 0 c 0.52923,-0.0233 1.05815,-0.0692 1.5877,-0.0698 2.73188,-0.003 5.40133,0.46266 7.8376,1.58742 0.62573,0.33428 1.28061,0.62762 1.87719,1.00284 2.98301,1.87619 4.99562,4.63061 6.64646,7.50963 2.00466,3.41404 3.87588,6.89008 5.8065,10.33934 2.07058,3.58484 4.07278,7.30002 7.28182,10.17215 0.48551,0.40809 0.95277,0.83478 1.45654,1.22426 1.46121,1.1297 3.09384,2.16821 4.88193,2.83376 1.11363,0.41451 2.00015,0.53792 3.16798,0.76445 1.41795,0.19043 1.57679,0.25898 2.99119,0.26838 3.37376,0.0224 6.58727,-1.1528 9.80708,-1.93984 0,0 -6.05844,0.65069 -6.05844,0.65069 z" />
               </g>
               <g
                  id="g1315"
                  transform="translate(-14.56655,-22.324057)">
               <g
                  id="g1265-3"
                  transform="matrix(-1.2581921,0.32120856,-0.33849415,-1.1384805,291.82128,184.7142)"
                  style="stroke-width:0.805521">
                  <path
                     style="fill:#ffcc00;stroke-width:0.213462;stroke-opacity:0"
                     id="path1214-7"
                     d="m 35.076048,22.500877 c -7.828955,0.0577 -4.07347,-0.12425 -2.407865,0.133351 0.34108,0.05275 0.680543,0.118644 1.015714,0.200977 1.042414,0.256064 1.170967,0.35026 2.177582,0.755606 2.217407,0.957041 3.83622,2.40761 5.214689,4.378557 0.28644,0.409554 0.535699,0.843894 0.80355,1.265841 1.770047,2.960682 2.488091,6.338197 3.196653,9.669687 0.605446,3.231806 1.270543,6.450494 2.001108,9.656152 0.57409,2.744647 1.491945,5.463394 3.266789,7.68324 0.360796,0.451258 0.7845,0.8484 1.17675,1.272601 1.531305,1.480309 3.381515,2.490229 5.395804,3.145245 0.375034,0.121954 0.759846,0.211476 1.139769,0.317214 0,0 4.405686,-0.585909 4.405686,-0.585909 v 0 c -0.396068,-0.0913 -0.79687,-0.164076 -1.188207,-0.273905 -2.018834,-0.566597 -3.888443,-1.50346 -5.441127,-2.929477 -0.388818,-0.403323 -0.808164,-0.779296 -1.166458,-1.209966 -1.791523,-2.15343 -2.673307,-4.8216 -3.260473,-7.51609 -0.731034,-3.20502 -1.349875,-6.432844 -2.018478,-9.651185 -0.742214,-3.358205 -1.405289,-6.80856 -3.145038,-9.822185 -0.269028,-0.434351 -0.520483,-0.880092 -0.807082,-1.303054 -0.831303,-1.226828 -1.809266,-2.414941 -2.983982,-3.330969 -0.731618,-0.570506 -1.359405,-0.856025 -2.172345,-1.284367 -1.005642,-0.450997 -1.107927,-0.540064 -2.150703,-0.842526 -2.487343,-0.721463 -5.119343,-0.431786 -7.670744,-0.460322 0,0 4.618408,0.731484 4.618408,0.731484 z" />
                  <path
                     style="fill:#ffcc00;stroke-width:0.213462;stroke-opacity:0"
                     id="path1214-6-3"
                     d="m 56.049115,47.359727 c -7.828956,0.0577 -4.073471,-0.12425 -2.407866,0.133351 0.34108,0.05275 0.680543,0.118644 1.015714,0.200977 1.042414,0.256064 1.170968,0.35026 2.177582,0.755606 2.217408,0.957041 3.83622,2.40761 5.214689,4.378557 0.28644,0.409554 0.535699,0.843894 0.80355,1.265841 1.770047,2.960682 2.488091,6.338197 3.196653,9.669687 0.605446,3.231806 1.270543,6.450494 2.001108,9.656152 0.57409,2.744647 1.491946,5.463394 3.266789,7.683241 0.360796,0.451257 0.7845,0.848399 1.176751,1.272601 1.531304,1.480309 3.381515,2.490229 5.395804,3.145244 0.375034,0.121955 0.759846,0.211477 1.13977,0.317215 0,0 4.405685,-0.585909 4.405685,-0.585909 v 0 c -0.396068,-0.0913 -0.796869,-0.164077 -1.188207,-0.273905 -2.018834,-0.566597 -3.888443,-1.50346 -5.441128,-2.929477 -0.388817,-0.403323 -0.808164,-0.779296 -1.166458,-1.209966 -1.791523,-2.153431 -2.673307,-4.8216 -3.260473,-7.516091 -0.731034,-3.20502 -1.349875,-6.432844 -2.018478,-9.651185 -0.742213,-3.358205 -1.405289,-6.80856 -3.145038,-9.822185 -0.269028,-0.434351 -0.520483,-0.880092 -0.807082,-1.303054 -0.831303,-1.226828 -1.809266,-2.414941 -2.983982,-3.330969 -0.731618,-0.570506 -1.359405,-0.856025 -2.172345,-1.284367 -1.005642,-0.450997 -1.107927,-0.540064 -2.150702,-0.842526 -2.487344,-0.721463 -5.119343,-0.431786 -7.670745,-0.460322 0,0 4.618409,0.731484 4.618409,0.731484 z" />
               </g>
               <path
                  style="fill:#ffcc00;stroke-width:0.264999;stroke-opacity:0"
                  id="path1214-6-3-6"
                  d="m 279.42741,195.60266 c 9.83079,-2.58042 5.16726,-1.16698 2.98441,-0.92524 -0.44699,0.0495 -0.89641,0.0835 -1.34599,0.0974 -1.39823,0.0433 -1.59186,-0.0226 -2.99558,-0.16078 -3.11388,-0.37732 -5.64167,-1.50879 -8.0432,-3.3099 -0.49903,-0.37426 -0.95966,-0.78869 -1.4395,-1.18303 -3.22923,-2.80212 -5.27594,-6.41672 -7.29514,-9.98196 -1.85571,-3.48487 -3.78204,-6.93565 -5.78632,-10.35056 -1.65137,-2.94033 -3.72649,-5.74075 -6.71099,-7.6979 -0.60669,-0.39786 -1.27422,-0.7139 -1.91134,-1.07085 -2.42775,-1.19344 -5.09753,-1.74891 -7.85361,-1.84762 -0.51314,-0.0184 -1.02761,0.003 -1.54142,0.005 0,0 -5.34487,2.08219 -5.34487,2.08219 v 0 c 0.52923,-0.0233 1.05815,-0.0692 1.5877,-0.0698 2.73188,-0.003 5.40133,0.46266 7.8376,1.58742 0.62573,0.33428 1.28061,0.62762 1.87719,1.00284 2.98301,1.87619 4.99562,4.63061 6.64646,7.50963 2.00466,3.41404 3.87588,6.89008 5.8065,10.33934 2.07058,3.58484 4.07278,7.30002 7.28182,10.17215 0.48551,0.40809 0.95277,0.83478 1.45654,1.22426 1.46121,1.1297 3.09384,2.16821 4.88193,2.83376 1.11363,0.41451 2.00015,0.53792 3.16798,0.76445 1.41795,0.19043 1.57679,0.25898 2.99119,0.26838 3.37376,0.0224 6.58727,-1.1528 9.80708,-1.93984 0,0 -6.05844,0.65069 -6.05844,0.65069 z" />
               </g>
               <rect
                  style="fill:#1a1a1a;stroke-width:0.264583"
                  id="rect16-5-0"
                  width="135.35023"
                  height="89.607758"
                  x="41.31015"
                  y="105.74534" />
               <g
                  id="g1017-3"
                  transform="matrix(1.155505,0,0,1.1472273,19.603937,-38.23289)"
                  style="fill:#1a1a1a;stroke-width:0.868539">
               <rect
                  style="fill:#1a1a1a;stroke:#000000;stroke-width:0.229801;stroke-opacity:0"
                  id="rect877-2"
                  width="48.256737"
                  height="27.43935"
                  x="153.31625"
                  y="115.56428"
                  ry="0.80000001" />
               </g>
               <text
                  xml:space="preserve"
                  style="font-style:normal;font-weight:normal;font-size:12.1852px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
                  x="271.96414"
                  y="48.597832"
                  id="text39"
                  transform="scale(1.0036012,0.99641172)"><tspan
                  sodipodi:role="line"
                  id="tspan37"
                  x="271.96414"
                  y="48.597832"
                  style="stroke-width:0.264583" /></text>
               <rect
                  style="fill:#1a1a1a;stroke-width:0.264583"
                  id="rect16-5"
                  width="135.35023"
                  height="89.607758"
                  x="79.711632"
                  y="26.02869" />
               <g
                  id="g1484">
               <rect
                  style="fill:#f2f2f2;stroke-width:0.264583"
                  id="rect16"
                  width="135.35023"
                  height="89.607758"
                  x="75.430275"
                  y="21.781414" />
               <rect
                  style="fill:#bc5a51;fill-opacity:1;stroke-width:0.264583"
                  id="rect16-3"
                  width="135.35023"
                  height="6.7811275"
                  x="75.430275"
                  y="21.781414" />
               </g>
               <g
                  id="g1529">
               <g
                  id="g1045-8"
                  style="fill:#b3b3b3;fill-opacity:1;stroke-width:0.868539"
                  transform="matrix(1.155505,0,0,1.1472273,16.463294,-24.602282)">
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:#000000;stroke-width:0.229802;stroke-opacity:0"
                     id="rect1019-2"
                     width="34.945961"
                     height="52.019413"
                     x="69.227104"
                     y="56.829548"
                     ry="0.71817809" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230163;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1025-7"
                     width="34.945969"
                     height="5.0402608"
                     x="69.227104"
                     y="56.829552" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1025-6-2"
                     width="34.945969"
                     height="16.715755"
                     x="69.227097"
                     y="92.133209" />
               </g>
               <g
                  id="g1490">
                  <rect
                     style="fill:#e3dbe2;fill-opacity:1;stroke:#000000;stroke-width:0.264585;stroke-opacity:0"
                     id="rect1019"
                     width="40.380234"
                     height="59.678089"
                     x="94.205505"
                     y="38.360195"
                     ry="0.82391351" />
                  <g
                     id="g2359"
                     style="fill:#694666;fill-opacity:1;stroke-width:0.868539"
                     transform="matrix(1.155505,0,0,1.1472273,-56.609581,-63.733523)">
                     <rect
                        style="fill:#694666;fill-opacity:1;stroke:none;stroke-width:0.230163;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1025"
                        width="34.945969"
                        height="5.0402608"
                        x="130.51877"
                        y="88.991714" />
                     <rect
                        style="fill:#694666;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1025-6"
                        width="34.945969"
                        height="16.715755"
                        x="130.51877"
                        y="124.29537" />
                  </g>
               </g>
               </g>
               <g
                  id="g1554">
               <g
                  id="g1248-9"
                  transform="matrix(1.155505,0,0,1.1472273,19.182632,-20.93749)"
                  style="fill:#b3b3b3;stroke-width:0.868539">
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1116-8"
                     width="15.16744"
                     height="4.9585862"
                     x="110.40147"
                     y="57.315426" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1116-2-1"
                     width="15.16744"
                     height="4.9585862"
                     x="110.40147"
                     y="99.315666" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1183-6"
                     width="0.87504458"
                     height="37.041656"
                     x="115.69313"
                     y="62.274014" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1183-1-4"
                     width="0.87504458"
                     height="9.8583717"
                     x="-70.677322"
                     y="115.99263"
                     transform="matrix(-1.2205831e-4,-0.99999999,0.99999852,-0.00172321,0,0)" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1116-2-5-36"
                     width="15.16744"
                     height="4.9585862"
                     x="125.56891"
                     y="67.565681" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1183-1-5-4"
                     width="0.87504458"
                     height="9.8583717"
                     x="-91.127739"
                     y="116.08633"
                     transform="matrix(-1.2205831e-4,-0.99999999,0.99999852,-0.00172321,0,0)" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1116-2-5-3-4-0"
                     width="15.16744"
                     height="4.9585862"
                     x="125.56891"
                     y="88.066185" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1183-4-7"
                     width="0.87504464"
                     height="15.541914"
                     x="134.56963"
                     y="72.524269" />
                  <rect
                     style="fill:#b3b3b3;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1116-2-5-3-8"
                     width="25.376295"
                     height="4.9585862"
                     x="130.86058"
                     y="77.815933" />
               </g>
               <g
                  id="g1518">
                  <g
                     id="g1497">
                     <g
                        id="g2330"
                        transform="matrix(1.155505,0,0,1.1472273,-56.609581,-63.733523)"
                        style="stroke-width:0.868539">
                     <rect
                        style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1183"
                        width="0.87504458"
                        height="37.041656"
                        x="178.99146"
                        y="97.780602" />
                     <rect
                        style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1183-1"
                        width="0.87504458"
                        height="9.8583717"
                        x="-106.29298"
                        y="179.2867"
                        transform="matrix(-1.2205831e-4,-0.99999999,0.99999852,-0.00172321,0,0)" />
                     <rect
                        style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1183-1-5"
                        width="0.87504458"
                        height="9.8583717"
                        x="-126.74339"
                        y="179.3804"
                        transform="matrix(-1.2205831e-4,-0.99999999,0.99999852,-0.00172321,0,0)" />
                     <rect
                        style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.230162;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1183-4"
                        width="0.87504464"
                        height="15.541914"
                        x="197.86795"
                        y="108.03085" />
                     </g>
                  </g>
                  <g
                     id="g1504">
                     <rect
                        style="fill:#83305a;fill-opacity:1;stroke:none;stroke-width:0.264999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1116"
                        width="17.526052"
                        height="5.6886253"
                        x="144.10141"
                        y="42.754425" />
                     <rect
                        style="fill:#83305a;fill-opacity:1;stroke:none;stroke-width:0.264999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1116-2"
                        width="17.526052"
                        height="5.6886253"
                        x="144.10141"
                        y="90.938248" />
                     <rect
                        style="fill:#83305a;fill-opacity:1;stroke:none;stroke-width:0.264999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1116-2-5"
                        width="17.526052"
                        height="5.6886253"
                        x="161.62746"
                        y="54.513805" />
                     <rect
                        style="fill:#83305a;fill-opacity:1;stroke:none;stroke-width:0.264999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1116-2-5-3-4"
                        width="17.526052"
                        height="5.6886253"
                        x="161.62746"
                        y="78.032532" />
                     <rect
                        style="fill:#83305a;fill-opacity:1;stroke:none;stroke-width:0.264999;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1116-2-5-3"
                        width="29.322435"
                        height="5.6886253"
                        x="167.742"
                        y="66.273163" />
                  </g>
               </g>
               </g>
               <g
                  id="g1706"
                  transform="matrix(1.155505,0,0,1.1472273,-14.978007,-31.233676)"
                  style="fill:#1a1a1a;stroke-width:0.868539">
               <g
                  id="g1699"
                  style="fill:#1a1a1a;stroke-width:0.868539">
                  <g
                     id="g1458-0"
                     transform="matrix(2.0925374,0,0,1.8919037,-236.03588,-39.868641)"
                     style="fill:#1a1a1a;stroke-width:0.436518">
                     <rect
                        style="fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:0.115677;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="rect1450-8"
                        width="5.6224041"
                        height="9.3945589"
                        x="214.14879"
                        y="67.089142"
                        rx="0.81569582" />
                     <ellipse
                        style="fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:0.115677;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                        id="path1454-0"
                        ry="8.6619997"
                        rx="7.257"
                        cy="65.316605"
                        cx="216.95279" />
                  </g>
                  <path
                     id="rect1386-6"
                     style="fill:#1a1a1a;fill-opacity:1;stroke:none;stroke-width:0.230164;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     d="m 211.51292,101.3575 c -1.15926,0 -2.09241,0.77417 -2.09241,1.73634 0,0.96217 0.93315,1.73732 2.09241,1.73732 -1.15926,0 -2.09241,0.77417 -2.09241,1.73634 0,0.96216 0.93315,1.73731 2.09241,1.73731 -1.15926,0 -2.09241,0.77417 -2.09241,1.73634 0,0.96217 0.93315,1.73634 2.09241,1.73634 h 1.63933 c -0.8366,0 -1.51064,0.60941 -1.51064,1.36581 v 0.74302 c 0,0.7564 0.67404,1.36483 1.51064,1.36483 h 8.89841 c 0.83661,0 1.51066,-0.60843 1.51066,-1.36483 v -0.74302 c 0,-0.7564 -0.67405,-1.36581 -1.51066,-1.36581 h 1.79286 c 1.15928,0 2.09243,-0.77417 2.09243,-1.73634 0,-0.96217 -0.93315,-1.73634 -2.09243,-1.73634 1.15928,0 2.09243,-0.77515 2.09243,-1.73731 0,-0.96217 -0.93315,-1.73634 -2.09243,-1.73634 1.15928,0 2.09243,-0.77515 2.09243,-1.73732 0,-0.96217 -0.93315,-1.73634 -2.09243,-1.73634 z" />
               </g>
               </g>
               <g
                  id="g1728">
               <g
                  id="g1458"
                  transform="matrix(2.4179374,0,0,2.1704436,-289.61289,-80.956023)"
                  style="fill:#ffeeaa;stroke-width:0.436518">
                  <rect
                     style="fill:#ffeeaa;fill-opacity:1;stroke:none;stroke-width:0.115677;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="rect1450"
                     width="5.6224041"
                     height="9.3945589"
                     x="214.14879"
                     y="67.089142"
                     rx="0.81569582" />
                  <ellipse
                     style="fill:#ffeeaa;fill-opacity:1;stroke:none;stroke-width:0.115677;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                     id="path1454"
                     ry="8.6619997"
                     rx="7.257"
                     cy="65.316605"
                     cx="216.95279" />
               </g>
               <path
                  style="fill:none;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="m 232.8669,84.843975 c 0.19472,-4.062218 0.38975,-8.130699 0.50127,-11.032814 0.11153,-2.902116 0.13936,-4.637996 0.15333,-6.373851 0.014,-1.735855 0.014,-3.471736 -0.55523,-5.234926 -0.5692,-1.763189 -1.71147,-3.553315 -2.35445,-3.607535 -0.64298,-0.05422 -0.78228,1.627409 -0.86569,2.98368 -0.0834,1.356272 -0.11128,2.38695 1.21471,4.040461 1.326,1.65351 4.00059,3.931853 5.8361,3.308396 1.83551,-0.623457 2.83849,-4.149478 3.05001,-6.400148 0.21153,-2.25067 -0.37353,-3.227089 -0.83245,-3.825186 -0.45892,-0.598098 -0.79324,-0.815084 -1.10294,-0.29874 -0.30971,0.516345 -0.58831,1.764 -0.75489,6.212693 -0.16658,4.448694 -0.2223,12.097419 -0.27798,19.739745"
                  id="path1510"
                  inkscape:path-effect="#path-effect1512"
                  inkscape:original-d="m 232.8669,84.843975 c 0.19833,-4.062045 0.39335,-8.130526 0.58507,-12.205431 0.0311,-1.729445 0.0589,-3.465326 0.0835,-5.207655 0.003,-1.729434 0.003,-3.465315 0,-5.207643 -1.13897,-1.783686 -2.28123,-3.57382 -3.42682,-5.370378 -0.13601,1.688076 -0.2753,3.369705 -0.4179,5.044909 -0.0246,1.037117 -0.0524,2.067797 -0.0836,3.09203 2.6779,2.284795 5.35249,4.563131 8.02377,6.835043 1.00629,-3.519567 2.00925,-7.045593 3.00893,-10.578032 -0.58178,-0.970004 -1.16683,-1.946432 -1.75522,-2.929296 -0.33101,-0.210551 -0.66533,-0.427537 -1.00296,-0.65096 -0.2753,1.254103 -0.5539,2.501759 -0.83581,3.74299 -0.0523,7.655172 -0.10804,15.303897 -0.16717,22.946198" />
               <path
                  id="rect1386"
                  style="fill:#bc5a51;fill-opacity:1;stroke:none;stroke-width:0.265001;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                  d="m 227.53198,81.062462 c -1.33953,0 -2.41779,0.888149 -2.41779,1.991976 0,1.103828 1.07826,1.993101 2.41779,1.993101 -1.33953,0 -2.41779,0.888149 -2.41779,1.991977 0,1.103816 1.07826,1.993089 2.41779,1.993089 -1.33953,0 -2.41779,0.888149 -2.41779,1.991977 0,1.103828 1.07826,1.991977 2.41779,1.991977 h 1.89425 c -0.96669,0 -1.74555,0.699132 -1.74555,1.566894 v 0.852413 c 0,0.867763 0.77886,1.56577 1.74555,1.56577 h 10.28216 c 0.96671,0 1.74558,-0.698007 1.74558,-1.56577 v -0.852413 c 0,-0.867762 -0.77887,-1.566894 -1.74558,-1.566894 h 2.07166 c 1.33955,0 2.41781,-0.888149 2.41781,-1.991977 0,-1.103828 -1.07826,-1.991977 -2.41781,-1.991977 1.33955,0 2.41781,-0.889273 2.41781,-1.993089 0,-1.103828 -1.07826,-1.991977 -2.41781,-1.991977 1.33955,0 2.41781,-0.889273 2.41781,-1.993101 0,-1.103827 -1.07826,-1.991976 -2.41781,-1.991976 z" />
               </g>
               <rect
                  style="fill:#4d958a;fill-opacity:1;stroke:#000000;stroke-width:0.264583;stroke-opacity:0"
                  id="rect877"
                  width="55.760902"
                  height="31.479172"
                  x="193.93211"
                  y="91.370659"
                  ry="0.91778183" />
               <g
                  id="g1687">
               <path
                  id="rect918-1-4"
                  style="fill:#164c68;fill-opacity:1;stroke:#000000;stroke-width:0.264582;stroke-opacity:0"
                  d="m 229.71394,116.25854 13.59967,-8.59354 c 0.0617,-0.0389 0.15426,-0.0338 0.20729,0.0118 l 1.25776,1.07852 c 0.0529,0.0455 0.0461,0.11357 -0.0162,0.15259 l -13.59966,8.59355 c -0.0617,0.0389 -0.15426,0.0338 -0.2073,-0.0118 l -1.25775,-1.07852 c -0.0529,-0.0455 -0.0461,-0.11357 0.0162,-0.15259 z m 1.55695,-18.061963 12.35032,9.561153 c 0.056,0.0435 0.0538,0.11186 -0.006,0.15304 l -1.39937,0.97945 c -0.059,0.0412 -0.15177,0.0396 -0.20788,-0.005 l -12.35032,-9.561177 c -0.056,-0.04348 -0.0537,-0.111625 0.006,-0.153029 l 1.39935,-0.979436 c 0.0591,-0.0413 0.15179,-0.03958 0.2079,0.0046 z" />
               <path
                  id="rect918-1-2-4"
                  style="fill:#164c68;fill-opacity:1;stroke:#000000;stroke-width:0.264582;stroke-opacity:0"
                  d="m 216.4693,116.25855 -13.59968,-8.76613 c -0.0617,-0.0396 -0.15425,-0.0358 -0.20727,0.009 l -1.25776,1.06254 c -0.0529,0.045 -0.0461,0.113 0.0162,0.15281 l 13.59967,8.76613 c 0.0617,0.0396 0.15425,0.0358 0.20728,-0.009 l 1.25776,-1.06255 c 0.0529,-0.045 0.0461,-0.113 -0.0162,-0.1528 z m -1.55695,-18.08174 -12.35032,9.40443 c -0.056,0.0427 -0.0539,0.11105 0.006,0.15312 l 1.39938,0.99721 c 0.059,0.042 0.15176,0.0415 0.20787,-0.001 l 12.35032,-9.404453 c 0.056,-0.04268 0.0537,-0.110937 -0.006,-0.153109 l -1.39936,-0.997207 c -0.0591,-0.04199 -0.15178,-0.04153 -0.20789,0.0011 z" />
               <rect
                  style="fill:#164c68;fill-opacity:1;stroke:#000000;stroke-width:0.265052;stroke-opacity:0"
                  id="rect1005-2"
                  width="1.5388125"
                  height="21.144104"
                  x="246.864"
                  y="-2.1110902"
                  ry="0.13649774"
                  transform="matrix(0.91463401,0.40428286,-0.32603289,0.94535843,0,0)" />
               </g>
               <g
                  id="g1010"
                  transform="matrix(1.2514609,0,0,1.4730567,-0.85222353,-83.160185)"
                  style="fill:#f2f2f2;stroke-width:0.736515">
               <path
                  id="rect918-1"
                  style="fill:#f2f2f2;stroke:#000000;stroke-width:0.194869;stroke-opacity:0"
                  d="M 183.11296,134.95516 193.98,129.12135 c 0.0493,-0.0264 0.12326,-0.023 0.16563,0.008 l 1.00503,0.73216 c 0.0423,0.0309 0.0368,0.0771 -0.0129,0.10359 l -10.86703,5.83382 c -0.0493,0.0264 -0.12326,0.023 -0.16564,-0.008 l -1.00503,-0.73216 c -0.0423,-0.0309 -0.0368,-0.0771 0.0129,-0.10359 z m 1.24411,-12.26155 9.86872,6.49069 c 0.0448,0.0295 0.043,0.0759 -0.005,0.10389 l -1.11819,0.66491 c -0.0472,0.028 -0.12127,0.0269 -0.16611,-0.003 l -9.86872,-6.4907 c -0.0448,-0.0295 -0.0429,-0.0758 0.005,-0.10389 l 1.11818,-0.6649 c 0.0472,-0.028 0.12128,-0.0269 0.16612,0.003 z" />
               <path
                  id="rect918-1-2"
                  style="fill:#f2f2f2;stroke:#000000;stroke-width:0.194869;stroke-opacity:0"
                  d="m 172.52962,134.95517 -10.86704,-5.95098 c -0.0493,-0.0269 -0.12326,-0.0243 -0.16563,0.006 l -1.00503,0.72132 c -0.0423,0.0305 -0.0368,0.0767 0.0129,0.10373 l 10.86703,5.95098 c 0.0493,0.0269 0.12326,0.0243 0.16564,-0.006 l 1.00503,-0.72132 c 0.0423,-0.0305 0.0368,-0.0767 -0.0129,-0.10373 z m -1.24411,-12.27498 -9.86872,6.3843 c -0.0448,0.029 -0.043,0.0754 0.005,0.10395 l 1.11819,0.67696 c 0.0472,0.0285 0.12127,0.0282 0.16611,-0.001 l 9.86872,-6.38431 c 0.0448,-0.029 0.0429,-0.0753 -0.005,-0.10394 l -1.11818,-0.67696 c -0.0472,-0.0285 -0.12128,-0.0282 -0.16612,10e-4 z" />
               <rect
                  style="fill:#f2f2f2;stroke:#000000;stroke-width:0.194904;stroke-opacity:0"
                  id="rect1005"
                  width="1.2013286"
                  height="14.645035"
                  x="213.39476"
                  y="51.167324"
                  ry="0.094542392"
                  transform="matrix(0.9361683,0.35155214,-0.37613438,0.92656512,0,0)" />
               </g>
               <g
                  id="g1037"
                  transform="matrix(1.155505,0,0,3.0748441,-21.61518,-229.98813)"
                  style="stroke-width:0.530521" />
               <rect
                  style="fill:#b3b3b3;fill-opacity:1;stroke-width:0.264583"
                  id="rect16-3-2-7"
                  width="34.60302"
                  height="5.6459923"
                  x="142.05736"
                  y="105.74534" />
               <rect
                  style="fill:#333333;fill-opacity:1;stroke-width:0.264583"
                  id="rect16-4"
                  width="135.35023"
                  height="89.607758"
                  x="37.156578"
                  y="102.00282" />
               <rect
                  style="fill:#4d958a;fill-opacity:1;stroke-width:0.264583"
                  id="rect16-3-2"
                  width="135.35023"
                  height="6.7811275"
                  x="37.156582"
                  y="102.00282" />
               <g
                  id="g1359-2"
                  transform="translate(1.8096542,1.1009674)"
                  style="fill:#000000">
               <g
                  id="g1152-8"
                  transform="matrix(1.155505,0,0,1.1472273,-9.3856182,-19.513932)"
                  style="fill:#000000;stroke-width:0.868539">
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-3"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153667"
                     y="117.12466"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-9-79"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="123.09836"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-1-6"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="129.07207"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-6-5"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153667"
                     y="135.04576"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-9-7-34"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="141.01945"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-1-7-9"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="146.99316"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-19-3"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153667"
                     y="152.96687"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-9-3-2"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="158.94054"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-1-5-9"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="164.91425"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-2-1"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153671"
                     y="170.88795"
                     ry="0.65802991" />
                  <rect
                     style="fill:#000000;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                     id="rect1077-9-5-1"
                     width="5.0679669"
                     height="0.95967591"
                     x="56.153675"
                     y="176.86165"
                     ry="0.65802991" />
               </g>
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.265;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                  id="rect1077-17-7"
                  width="40.507248"
                  height="1.1009665"
                  x="67.470825"
                  y="114.85467"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264998;stroke-opacity:0"
                  id="rect1077-9-2-1"
                  width="46.626652"
                  height="1.1009665"
                  x="73.585381"
                  y="121.70786"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-72-5"
                  width="58.322239"
                  height="1.1009665"
                  x="79.699928"
                  y="128.56107"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-6-9-5"
                  width="25.348289"
                  height="1.1009665"
                  x="85.814468"
                  y="135.73277"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-7-3-4"
                  width="21.551085"
                  height="1.1009665"
                  x="85.814468"
                  y="142.26743"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-7-3-0"
                  width="52.708878"
                  height="1.1009665"
                  x="79.699928"
                  y="149.12064"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-19-9-4"
                  width="41.564026"
                  height="1.1009665"
                  x="73.585381"
                  y="155.97383"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-3-8-9"
                  width="37.496655"
                  height="1.1009665"
                  x="79.699928"
                  y="162.82698"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-5-1-8"
                  width="23.411711"
                  height="1.1009665"
                  x="85.814468"
                  y="169.68019"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.265;stroke-opacity:0"
                  id="rect1077-2-9-1"
                  width="6.6520362"
                  height="1.1009665"
                  x="73.585388"
                  y="176.53339"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-5-5-0"
                  width="8.4839201"
                  height="1.1009665"
                  x="67.470833"
                  y="183.38658"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-2-4-4"
                  width="8.3931599"
                  height="1.1009665"
                  x="122.36602"
                  y="121.70786"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.265;stroke-opacity:0"
                  id="rect1077-6-9-1-4"
                  width="9.4887381"
                  height="1.1009665"
                  x="112.97241"
                  y="135.73277"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-5-1-9-07"
                  width="9.7211533"
                  height="1.1009665"
                  x="111.21464"
                  y="169.68019"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-5-1-9-0-6"
                  width="14.275516"
                  height="1.1009666"
                  x="122.49596"
                  y="169.68019"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.265;stroke-opacity:0"
                  id="rect1077-2-9-4-2"
                  width="31.539406"
                  height="1.1009665"
                  x="82.2556"
                  y="176.53339"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-7-3-6-5"
                  width="14.47679"
                  height="1.1009665"
                  x="135.39665"
                  y="149.12064"
                  ry="0.75490987" />
               <rect
                  style="fill:#000000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1235-8"
                  width="0.9245255"
                  height="69.509293"
                  x="48.461163"
                  y="114.97823"
                  ry="0.76552081" />
               </g>
               <g
                  id="g1152"
                  transform="matrix(1.155505,0,0,1.1472273,-9.3856182,-19.513932)"
                  style="stroke-width:0.868539">
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153667"
                  y="117.12466"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-9"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="123.09836"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-1"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="129.07207"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-6"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153667"
                  y="135.04576"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-9-7"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="141.01945"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-1-7"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="146.99316"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-19"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153667"
                  y="152.96687"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-9-3"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="158.94054"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-1-5"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="164.91425"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-2"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153671"
                  y="170.88795"
                  ry="0.65802991" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.230162;stroke-opacity:0"
                  id="rect1077-9-5"
                  width="5.0679669"
                  height="0.95967591"
                  x="56.153675"
                  y="176.86165"
                  ry="0.65802991" />
               </g>
               <rect
                  style="fill:#d40000;fill-opacity:1;stroke-width:0.265;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0"
                  id="rect1077-17"
                  width="40.507248"
                  height="1.1009665"
                  x="67.470825"
                  y="114.85467"
                  ry="0.75490987" />
               <rect
                  style="fill:#447821;fill-opacity:1;stroke-width:0.264998;stroke-opacity:0"
                  id="rect1077-9-2"
                  width="46.626652"
                  height="1.1009665"
                  x="73.585381"
                  y="121.70786"
                  ry="0.75490987" />
               <rect
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-72"
                  width="58.322239"
                  height="1.1009665"
                  x="79.699928"
                  y="128.56107"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-6-9"
                  width="25.348289"
                  height="1.1009665"
                  x="85.814468"
                  y="135.73277"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-7-3"
                  width="21.551085"
                  height="1.1009665"
                  x="85.814468"
                  y="142.26743"
                  ry="0.75490987" />
               <rect
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-7-3"
                  width="52.708878"
                  height="1.1009665"
                  x="79.699928"
                  y="149.12064"
                  ry="0.75490987" />
               <rect
                  style="fill:#447821;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-19-9"
                  width="41.564026"
                  height="1.1009665"
                  x="73.585381"
                  y="155.97383"
                  ry="0.75490987" />
               <rect
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-3-8"
                  width="37.496655"
                  height="1.1009665"
                  x="79.699928"
                  y="162.82698"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-5-1"
                  width="23.411711"
                  height="1.1009665"
                  x="85.814468"
                  y="169.68019"
                  ry="0.75490987" />
               <rect
                  style="fill:#447821;fill-opacity:1;stroke-width:0.265;stroke-opacity:0"
                  id="rect1077-2-9"
                  width="6.6520362"
                  height="1.1009665"
                  x="73.585388"
                  y="176.53339"
                  ry="0.75490987" />
               <rect
                  style="fill:#d40000;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-5-5"
                  width="8.4839201"
                  height="1.1009665"
                  x="67.470833"
                  y="183.38658"
                  ry="0.75490987" />
               <rect
                  style="fill:#2c89a0;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-9-2-4"
                  width="8.3931599"
                  height="1.1009665"
                  x="122.36602"
                  y="121.70786"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.265;stroke-opacity:0"
                  id="rect1077-6-9-1"
                  width="9.4887381"
                  height="1.1009665"
                  x="112.97241"
                  y="135.73277"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-5-1-9"
                  width="9.7211533"
                  height="1.1009665"
                  x="111.21464"
                  y="169.68019"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-5-1-9-0"
                  width="14.275516"
                  height="1.1009666"
                  x="122.49596"
                  y="169.68019"
                  ry="0.75490987" />
               <rect
                  style="fill:#2c89a0;fill-opacity:1;stroke-width:0.265;stroke-opacity:0"
                  id="rect1077-2-9-4"
                  width="31.539406"
                  height="1.1009665"
                  x="82.2556"
                  y="176.53339"
                  ry="0.75490987" />
               <rect
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1077-1-7-3-6"
                  width="14.47679"
                  height="1.1009665"
                  x="135.39665"
                  y="149.12064"
                  ry="0.75490987" />
               <rect
                  style="fill:#f2f2f2;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="rect1235"
                  width="0.9245255"
                  height="69.509293"
                  x="48.461163"
                  y="114.97823"
                  ry="0.76552081" />
               <circle
                  id="path2897"
                  style="fill:#d40000;stroke:#000000;stroke-width:0.264583"
                  cx="102.7407"
                  cy="156.92038"
                  r="0.029512867" />
               <circle
                  id="path2899"
                  style="fill:#d40000;stroke:#000000;stroke-width:0.264583"
                  cx="92.974983"
                  cy="156.65282"
                  r="0.029512867" />
               <g
                  id="g2935">
               <path
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2903"
                  d="m 245.026,30.896585 c -0.17291,2.340369 -0.83191,4.615122 -1.46485,6.864262 -0.34314,1.209559 -0.76272,2.393872 -1.20212,3.570891 0,0 3.17996,-0.403338 3.17996,-0.403338 v 0 c 0.38904,-1.187051 0.76498,-2.378234 1.11033,-3.578892 0.64681,-2.294059 1.31805,-4.593899 1.65419,-6.958809 0,0 -3.27751,0.505891 -3.27751,0.505891 z" />
               <path
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2903-0"
                  d="m 256.10777,36.884001 c -1.42776,1.862451 -3.22606,3.403525 -4.98852,4.937467 -0.95013,0.823425 -1.95035,1.583827 -2.96314,2.327262 0,0 2.88055,1.406163 2.88055,1.406163 v 0 c 0.97617,-0.779442 1.94367,-1.56951 2.89076,-2.384285 1.79869,-1.563898 3.62098,-3.119242 5.19869,-4.912733 0,0 -3.01834,-1.37387 -3.01834,-1.37387 z" />
               <path
                  style="fill:#ffcc00;fill-opacity:1;stroke-width:0.264999;stroke-opacity:0"
                  id="path2903-9"
                  d="m 262.73484,48.746641 c -2.29474,0.491328 -4.66302,0.497702 -6.99939,0.521893 -1.25725,0.01037 -2.51173,-0.05972 -3.76479,-0.150875 0,0 1.28018,2.938703 1.28018,2.938703 v 0 c 1.24854,0.04001 2.49736,0.06628 3.74669,0.06053 2.38338,-0.02349 4.77917,-0.02517 7.14331,-0.366726 0,0 -1.406,-3.003525 -1.406,-3.003525 z" />
               </g>
            </g>
         </g>
      </svg>
    </div>
</div>